@{
    ViewData["Title"] = "Catálogo de Discos";
}
<div>
    <h1>Catálogo de Discos</h1>
     <img src="~/img/logo.png" alt="logo">
    <div class>
        @foreach (Disco disco in ViewBag.Discos.Values)
{
 <div>
                <div>
                    <img src="~/img/@disco.Foto" alt="@disco.Titulo">
                    <div>
                        <h5>@disco.Titulo</h5>
                        <p>@disco.Artista</p>
                    <a href='@Url.Action("Detalle", "Home", new { Id = disco.Id })'>Ver Detalles</a>
                    </div>
                </div>
            </div>}

        
    </div>
</div>
