

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 200px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

body {
    margin: 0;
    padding: 0;
    background-color: purple;
    text-align: center;
}



.Catalogo h1 {
  font-family: fantasy;
  margin-bottom: 10px;
   font-size:xx-large;
}

.Catalogo img {
    width: 150px;
    margin-bottom: 20px;
}

.Albums {
    margin: 30px;
    align-items: center;
    padding: 20px;
}

.Albums div {
    background-color: orange;
    display: inline-block;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
}

.Albums img {
    width: 100%;
    border-radius: 8px;
}
.Albums h3 {
    color: purple
}

.Albums a {
    text-decoration: none;
    background-color: purple;
    color: white;
    display: inline-block;
    border-radius: 20px;
}
.Titulo{
  font-size: xx-large;
  color: orange;
  font-family: fantasy;
}
.imgDestalle{
  width: 20%;
    border-radius: 8px;
}
.Volver a{
   text-decoration: none;
    background-color: orange;
    color: white;
    display: inline-block;
    border-radius: 20px;
    display: inline-block;
}
.Artista{
  color: white;
  font-family: fantasy;
}
li h4{
  text-decoration: underline;
  font-style: italic;
  padding-right: 2%;
  color: orange;
}
.Temas{
  color: orange;
}
p{
  color: white;
}
